$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
$sidebarWidth: 20%;
$font-family: 'Noto Sans', sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $font-family
}

a {
  all: unset;
  cursor: pointer;
}

.wrapper .sidebar {
  position: fixed;
  width: $sidebarWidth;
  height: 100%;
  overflow: auto;
}

.homeimg-container {
  overflow: hidden;
  height: auto;
  position: fixed;
  min-width: 100%;
  margin-top: -10px;
}

.homeimg {
  object-fit: cover;
  min-width: 80%;
  height: auto;
  margin-top: -15%;
}

.heroimg {
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.wrapper .sidebar a {
  text-decoration: none;
}

.wrapper .sidebar .title {
  text-align: center;
}

.wrapper .sidebar .links {
  margin-top: 40%;
}

.wrapper .sidebar .item {
  text-align: center;
}

.wrapper .main-content {
  margin-left: $sidebarWidth;
  height: 100%;
}

.columns {
  column-count: 2;
}

.showreel {
  width: 576px;
  height: 324px;
}

.columns .break {
  break-before: column
}