$backgroundColor: #ffffff;
$bodyColor: #424242;
$sidebarWidth: 20%;
$font-family: 'Noto Sans', sans-serif;

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $font-family;
  overflow: hidden;
  height: 100vh;
}
main {
  overflow-y: auto;
  min-width: 85%
}
aside {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: 10%;
}

.wrapper {
  display: flex;
  height: 100%;
}

.hero-image {
  display: flex;
  flex-direction: column;
  // background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.7)), url("../img/leikattu.jpg");
  background-image: url("../img/leikattu.jpg");
  height: 100%;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  justify-content: center;
}

.hero-text {
  color: white;
  text-align:  center;
}

@media (max-width: 500px) {
  .wrapper {
    flex-direction: column;
  }
  aside {
    flex-direction: row;
    flex-grow: 1;
    flex-shrink: 15;
    flex-basis: 5%;
  }
  main {
    flex-grow: 15;
  }
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .hero-image {
    background-position: center center;
  }
  
}

.pageheroimage {
  object-fit: cover;
  width: 100%;
}

// .wrapper .sidebar a {
//   text-decoration: none;
//   all: unset;
//   cursor: pointer;
// }

// .wrapper .sidebar .title {
//   text-align: center;
// }

// .wrapper .sidebar .links {
//   margin-top: 40%;
// }

// .wrapper .sidebar .item {
//   text-align: center;
// }

// .columns {
//   column-count: 2;
// }

// .showreel {
//   width: 576px;
//   height: 324px;
// }

// .columns .break {
//   break-before: column
// }




// // .hero-text h1 {
// //   font-size: 3em;
// // }

// // .hero-text p {
// //   font
// // }