<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <div class="sidebar">
        <h2 class="title">
          <a href="{{ site.url }}">{{ site.title }}</a>
        </h2>
        <!-- Items in navigation menu -->
        <div class=links>
          {% for item in site.data.navigation.pages %}
            <h3 class="item">
                <a href="{{ item.url }}">{{ item.title }}</a>
            </h3>
          {% endfor %}
        </div>
      </div>
      <!-- actual content -->
      <div class="main-content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
