<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant&family=Open+Sans&family=PT+Serif&family=Playfair+Display&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="wrapper">
      <aside>
        <a id="home" href="{{ site.url }}">
          <img id="logo" src="assets/img/logo.png"/>
        </a>
        <!-- Navigation links -->
        <div id="links">
          {% for item in site.data.navigation.pages %}
              <a href="{{ item.url }}">{{ item.title }}</a>
          {% endfor %}
        </div>
        <div class="container" onclick="myFunction(this)"> <div class="bar1"></div> <div class="bar2"></div> <div class="bar3"></div> </div>
        <script>
        /* Toggle between showing and hiding the navigation menu links when the user clicks on the hamburger menu / bar icon */
        function myFunction() {
          var x = document.getElementById("links");
          if (x.style.display === "flex") {
            x.style.display = "none";
          } else {
            x.style.display = "flex";
          }
        }
      </script>
      </aside>
      <!-- actual content -->
      <main>
        {{ content }}
      </main>
    </div>
  </body>
</html>
