---
layout: content
---

<div class="pictures">
    <div class="img-hover-zoom">
        <a target="_blank" href="assets/img/1.jpg">
            <img class="img" src="assets/img/1.jpg" alt="Anne" style="width: 150px">
        </a>
    </div>
    <div class="img-hover-zoom">
        <a target="_blank" href="assets/img/2.jpg">
            <img class="img" src="assets/img/2.jpg" alt="Anne" style="width: 150px">
        </a>
    </div>
    <div class="img-hover-zoom">
        <a target="_blank" href="assets/img/3.jpg">
            <img class="img" src="assets/img/3.jpg" alt="Anne" style="width: 150px">
        </a>
    </div>
    Kuvat: Niina Uusitalo / niina_uusitalo visual @niina_uusi / 
    <a href="https://www.niinauusitalo.com/">https://www.niinauusitalo.com</a>
</div>