---
layout: content
---

<div class="pictures">
    <div class="img-hover-zoom">
        <a target="_blank" href="assets/img/1.jpg">
            <img class="img" src="assets/img/1_thumbnail.jpg" alt="Anne">
        </a>
    </div>
    <div class="img-hover-zoom">
        <a target="_blank" href="assets/img/2.jpg">
            <img class="img" src="assets/img/2_thumbnail.jpg" alt="Anne">
        </a>
    </div>
    <div class="img-hover-zoom">
        <a target="_blank" href="assets/img/3.jpg">
            <img class="img" src="assets/img/3_thumbnail.jpg" alt="Anne">
        </a>
    </div>
    <p>
        Kuvat: Niina Uusitalo / niina_uusitalo visual @niina_uusi / 
        <a href="https://www.niinauusitalo.com/">https://www.niinauusitalo.com</a>
    </p> 
</div>